@model MROCoatching.DataObjects.ViewModel.Identity.RoleViewModel

@{
    ViewBag.Title = "Create Role";
    Layout = "~/Views/Shared/_layout3.cshtml";
}

@*<environment include="Production">*@
    <!-- iCheck -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/iCheck/square/blue.css">
@*</environment>*@

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Create Role</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new { area = "Account"})"><i class="fa fa-home"></i> Home</a></li>
                    <li class="breadcrumb-item active"><i class="fa fa-unlock"></i> Roles</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <a class="box-title" href="@Url.Action("Index", "Roles", new { area = "Account"})"><i class="fa fa-user text-primary"></i>  Back to List</a>
            </h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true)

                @if (ViewBag.Message != "")
                {
                    <p style="color: red">ViewBag.Message</p>
                }

                <div class="form-group">
                    @Html.LabelFor(model => model.RoleName, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control" } })
                        @*@Html.DropDownListFor(m => m.RoleName, (SelectList)ViewBag.Roles, new { @class = "form-control" })*@
                        @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label(null, "Privileges", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @foreach (var p in ViewBag.Privileges)
                        {
                            <div class="checkbox col-md-3">
                                <input type="checkbox" name="privilege" value="@p.Id" />
                                @Html.Label(null, (string)p.Action, new { @for = (string)p.Id })
                            </div>
                        }
                    </div>
                </div>

                <br />
                <div class="form-group-sm">
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Create</button>
                    </div>
                </div>
            }

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>

@*<environment include="Production">*@

    <!-- Check -->
    <script src="~/AdminLTE/plugins/iCheck/icheck.min.js"></script>
    <!-- FastClick -->
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            })
        })
    </script>
@*</environment>*@

