@model IEnumerable<MROCoatching.DataObjects.Models.CoachingTable.Items>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<style>
    #loader, #exportCargoRevenueAccountingloader {
        color: #2e7c31;
        text-shadow: 1px 1px 1px #ccc;
    }

    .modal {
        padding-left: 10%;
    }

    .modal-lg {
        max-width: 80%;
    }

    .modal-backdrop {
        z-index: auto
    }

    .modals-lg {
        max-width: 80%;
        width: 80px;
        padding-left:3%;
    }
</style>
<link href="~/AdminLTE/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/AdminLTE/plugins/sweetalert/sweetalert2.min.css" rel="stylesheet" />
<link href="~/AdminLTE/plugins/iCheck/square/blue.css" rel="stylesheet">
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-10">
                <h1>List of Coaching PL Items</h1>
            </div>

        </div>
    </div>
</section>
<section class="content">
    <div class="card">
        <div class="card-header">

            <h3 class="card-title">
                <a class="box-title" href="#" id="create_new"> <i class="fa fa-plus text-primary"></i>  Create New </a> &nbsp;&nbsp;&nbsp;
                <a class="box-title" href="#" id="upload"> <i class="fa fa-upload"></i>  Upload File </a> &nbsp;&nbsp;&nbsp;
            </h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="box-body table-responsive no-padding">
                <table id="TableControl" class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:1%;">No.</th>
                            <th style="width:5%;">
                                @Html.DisplayNameFor(model => model.Refnumber)
                            </th>
                            <th style="width:10%;">
                                @Html.DisplayNameFor(model => model.Plcode)
                            </th>
                            <th style="width:10%;">
                                @Html.DisplayNameFor(model => model.Taskcode)
                            </th>
                            <th style="width:10%;">Task Name</th>
                            <th style="width:35%;">
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th style="width:10%;">
                                @Html.DisplayNameFor(model => model.ERDAT)
                            </th>
                            <th style="width:10%;">
                                @Html.DisplayNameFor(model => model.ERNAM)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(i++)</td>
                                        <td>
                                            @{
                                                <a title="ATA Chapter" class="col-sm-4 getatachapter" value="@item.Refnumber" href="#" data-id="@item.Id" data-ataname="@item.Refnumber">@item.Refnumber</a>
                                            }
                                            @*@Html.DisplayFor(modelItem => item.Refnumber)*@
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Plcode)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Taskcode)
                                        </td>
                                        <td>
                                            @{
                                                if (item.Taskcode != null)
                                                {
                                                    @item._dbContext.Taskcode.Where(c => c.Keyword == item.Taskcode).Select(c => c.Descriptions).FirstOrDefault()
                                                }
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ERDAT)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ERNAM)
                                        </td>
                                        <td>
                                            <span style="white-space : nowrap">
                                                <a title="Edit" class="box-title edit" href="#" data-id="@item.Id"><i class="fa fa-edit text-success"></i></a>&nbsp;
                                                <a title="Detail" class="box-title details" href="#" data-id="@item.Id"><i class="fa fa-eye text-success"></i></a>&nbsp;
                                                <a title="Delete" class="box-title delete" href="#" data-id="@item.Id">   <i class="fa fa-trash text-danger"></i></a>
                                            </span>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>

@*<div id="modal" class="modal fade" style="display:none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="modal_Title">    </h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <hr />
            <div class="modal-body" id="modal_body">
                <div class="overlay" id="loader">
                    <i class="fa fa-refresh fa-spin fa-3x offset-sm-5"></i>

                    <br /><br /><br />
                </div>
                <div id="innerModalbody">

                </div>
            </div>
        </div>
    </div>
</div>*@
<script src="~/AdminLTE/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/AdminLTE/plugins/datatables/dataTables.bootstrap4.js"></script>
<script src="~/AdminLTE/plugins/sweetalert/sweetalert2.min.js"></script>
<script src="~/AdminLTE/plugins/iCheck/icheck.min.js"></script>
<script src="/Habtu/CRUD.js"></script>

<div id="modal" class="modal fade" style="display:none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="modal_Title">    </h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <hr />
            <div class="modal-body" id="modal_body">
                <div class="overlay" id="loader">
                    <i class="fa fa-refresh fa-spin fa-3x offset-sm-5"></i>

                    <br /><br /><br />
                </div>
                <div id="innerModalbody">

                </div>
            </div>
        </div>
    </div>
</div>
<div id="modals" class="modal fade" style="display:none;">
    <div class="modal-dialog modal-sm " id="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal_Title">    </h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
                @*<button type="button" id="close2ndmodal">×</button>*@
            </div>
            <hr />
            <div class="modal-body" id="modal_body">
                <div class="overlay" id="loadersmall">
                    <i class="fa fa-refresh fa-spin fa-3x offset-sm-5"></i>
                    <br />
                </div>

                <div id="innerModalbodysmall">

                </div>

                @*<div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal" style="color:red;">Cancel</button>
                </div>*@
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('input').iCheck({ //For CheckBox
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '30%' // optional
        });

        var mainTitle = "PL Items";
        var mainTitle2 = "PL Assesment";
        var mainUrl = "/CoachingMaster/Items/";
        var dataTable = TableControl();

        $('#create_new').click(function () {
            debugger;
            var url = mainUrl + "Create";
            var title = "Create - " + mainTitle;
            Create(url, title);
        }); $('#create_assesment').click(function () {
            debugger;
            var url = mainUrl + "CreateAssasement";
            var title = "Create - " + mainTitle2;
            Create(url, title);
        });
        dataTable.on("click", ".getatachapter", function () {
            debugger;
            var url = "/CoachingMaster/Items/Getatachapter?ATA_Chapter=" + $(this).attr('data-ataname')
            var title = "ATA Chapter Detail";
            Upload(url, title);
        });
        //$('.getatachapter').click(function () {
           
        //    //$('#loaderrouting').show();
        //    //$('#modalrouting').modal('show');
        //    //$('#modalrouting_Title').html("ATA Chapter Detail");
        //    //$.get(url, function (data) {
        //    //    $('#innerModalbodyrouting').empty();
        //    //    $('#innerModalbodyrouting').html(data);
        //    //    $('#loaderrouting').hide();
        //    //    $('#modalrouting').modal('show');
        //    //});
           
        //    //Getchapters(url, title);
        //});
        
        $('#upload').click(function () {
            debugger;
            var url = mainUrl + "Upload";
            var title = "Upload - " + mainTitle;
            Upload(url, title);
        });

        //$(".getatachapter").click(function () {
        //    debugger;
        //    var url = "/CoachingMaster/Items/Getatachapter?ATA_Chapter=" + $(this).attr('data-ataname')
        //    $.get(url, function (data) {
        //        debugger;
        //        if (data !== null) {
        //            debugger;
        //            $('#innerModalbodysmall').empty();
        //            $('#innerModalbodysmall').html(data);
        //            $('#loadersmall').hide();
        //            $('#modals').modal('show');
        //        }
        //    });
        //});
        dataTable.on("click", ".edit", function () {
            var url = mainUrl + "Edit?id=" + $(this).attr('data-id');
            var title = "Edit - " + mainTitle;
            Edit(url, title);
        });



        dataTable.on("click", ".details", function () {
            var url = mainUrl + "Details?id=" + $(this).attr('data-id')
            var title = "Detail of " + mainTitle;
            Details(url, title);
        });


        dataTable.on("click", ".delete", function () {
            var url = mainUrl + "Delete?id=" + $(this).attr('data-id')
            var title = 'Are you sure you want to delete this ?';
            Delete(url, title, mainUrl);
        });

        dataTable.on('click', 'tr', function () {
            debugger;
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                dataTable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    });
</script>
