@model MROCoatching.DataObjects.Models.AccountMaster.MenusFavorite

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>MenusFavorite</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Icon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Privilages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Privilages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForWho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForWho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ERNAM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ERNAM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ERDAT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ERDAT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AENAM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AENAM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AEDAT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AEDAT)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
