@model MROCoatching.DataObjects.Models.General.Costcenters
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using MROCoatching.DataObjects.DropDown;
@{
    ViewData["Title"] = "Create";
    Layout = null;
}
<style>
    .select2-container {
        width: 100% !important;
    }

    .select2-search--dropdown .select2-search__field {
        width: 98%;
    }

    .select2-container--default .select2-selection--single {
        height: inherit;
    }

    fieldset {
        border: 1px solid #005580;
        padding: 3px;
    }

    legend {
        font-family: 'Wide Latin';
        font-size: small;
    }
</style>
<link rel="stylesheet" href="~/AdminLTE/plugins/timepicker/bootstrap-timepicker.css">
<link rel="stylesheet" href="~/AdminLTE/plugins/iCheck/square/blue.css">
<link href="~/AdminLTE/plugins/datepicker/datepicker3.css" rel="stylesheet" />

<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-body">

            <form id="costcenters" class="form-horizontal">

                @Html.AntiForgeryToken()
                <div class="callout callout-danger error-box-holder" id="general-error" style="display:none">
                    <h4> Please correct the following errors and sumbit again </h4>
                    <ul id="errors" class="error-box"></ul>
                </div>
                @Html.ValidationSummary(true)
                @if (ViewBag.Message != null)
                {
                    <p style="color: red">@ViewBag.Message</p>
                }
                <fieldset class="col-sm-12">
                    <div class="row col-sm-12">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-12 row">
                                <div class="form-group col-sm-6">
                                    <div class="form-group col-sm-12 row">
                                        <label asp-for="Costcentercode" class="form-control-label col-sm-4"></label>
                                        <input asp-for="Costcentercode" class="form-control col-sm-4" placeholder="AAAAA123"/>
                                        @*<input asp-for="Costcentername" class="form-control col-sm-5" />*@
                                    </div>
                                    <span asp-validation-for="Costcentercode" class="text-danger"></span>
                                </div>  
                                <div class="form-group col-sm-6">
                                    <div class="form-group col-sm-12 row ">
                                        <label asp-for="Costcentername" class="form-group col-sm-4"></label>
                                        <input asp-for="Costcentername" class="form-control col-sm-8"  placeholder="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"/>
                                        <span asp-validation-for="Costcentername" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="form-group col-sm-12 row ">
                                        <label asp-for="Costcenterdesc" class="form-group col-sm-4"></label>
                                        <input asp-for="Costcenterdesc" class="form-control col-sm-8" placeholder="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" />
                                        <span asp-validation-for="Costcenterdesc" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <div class="form-group col-sm-12 row">
                                        <label asp-for="Fromdate" class="form-control-label col-sm-4">From / Too Date</label>
                                        <input asp-for="Fromdate" class="form-control col-sm-4 date-field" type="text" required />
                                        <input asp-for="Toodate" class="form-control col-sm-4 date-fields" type="text" required readonly style="pointer-events:none;" />
                                        <span asp-validation-for="Fromdate" class="text-danger"></span>
                                        <span asp-validation-for="Toodate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <br />
                <div class="row cols-m-12">
                    <div class="col-sm-6">
                        <div class="form-group col-sm-12">
                            <div class="form-group col-sm-12 row">
                                <label asp-for="ERNAM" class="form-control-label col-sm-4"></label>
                                <input asp-for="ERNAM" class="form-control col-sm-8" type="text" value="@User.Identity.Name" readonly />
                                <span asp-validation-for="ERNAM" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group col-sm-12">
                            <div class="form-group col-sm-12 row">
                                <label asp-for="ERDAT" class="form-control-label col-sm-4"></label>
                                <input asp-for="ERDAT" class="form-control col-sm-8" type="text" value="@DateTime.UtcNow" readonly />
                                <span asp-validation-for="ERNAM" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br /> 
                <div class="form-group col-12 text-center">
                    <button type="button" id="submit" class="btn btn-success col-sm-4"> Create </button>
                </div>
            </form>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
<script src="~/AdminLTE/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<script src="~/AdminLTE/plugins/iCheck/icheck.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/AdminLTE/plugins/datepicker/bootstrap-datepicker.js"></script>
<script>

    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        })
    });
    $(document).ready(function () {
        let dateObj = new Date();
        let dateObjs = new Date();
        dateObjs = '12/31/9999';
        $('.date-field').datepicker(
            {
                format: 'mm/dd/yyyy',
                //startDate: dateObj,
                autoclose: true
            }).datepicker("setDate", dateObj);
        $('.date-fields').datepicker(
            {
                format: 'mm/dd/yyyy',
               // startDate: dateObjs,
                autoclose: true
            }).datepicker("setDate", dateObjs);



        $('.select2').select2();
        $(document).keypress(function (e) {
            if (e.which == 13) {
                $('#submit').click();//Trigger search button click event
            }
        });

        $('#submit').click(function () {
            debugger;
            var form = $('#costcenters')
                .removeData("validator") /* added by the raw jquery.validate plugin */
                .removeData("unobtrusiveValidation");  /* added by the jquery unobtrusive plugin*/
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                debugger;
                var url = "/General/Costcenters/Create";
                $('#general-error').hide();
                $('#errors').empty();
                $.post(url, $('#costcenters').serialize(), function (data) {
                    if (data.status == "3" || data.status == "4" || data.status == "5") {
                        if (data.status == "3") {
                            swal({
                                type: 'success',
                                title: data.message,
                                showConfirmButton: false,
                                timer: 3000
                            }).then(() => { window.location = "/General/Costcenters/Index"; });;
                            $('#modal').modal('hide');
                        }
                        else {
                            swal({
                                type: 'error',
                                title: data.message,
                                showConfirmButton: false,
                                timer: 3000
                            });
                        }
                    }
                    else {
                        $.each(data.errorList, function (index, value) {
                            $('#errors').append('<li> ' + value + ' </li>');
                        });
                        $('#general-error').show();
                    }
                });

            }
        });
    });

</script>